name: bc

on:
  workflow_call:
    inputs:
      composer-root-version:
        description: Composer root version.
        default: dev-master
        required: false
        type: string
      subpackage:
        description: Subpackage to install.
        default: ''
        required: false
        type: string
      usePackageBin:
        description: Use binary installed with Composer and skip installing binary in the action.
        default: false
        type: boolean
      coverage:
        description: Generate code coverage report.
        default: pcov
        required: false
        type: string
      extensions:
        description: List of extensions to PHP.
        default:
        required: false
        type: string
      ini-values:
        description: Initial values for PHP configuration.
        default: date.timezone='UTC'
        required: false
        type: string
      os:
        description: Os to test, separated by comma.
        required: true
        type: string
      php:
        description: PHP versions to test, separated by comma.
        required: true
        type: string
      tools:
        description: Tools to test, separated by comma.
        default:
        required: false
        type: string

jobs:
  bc:
    name: PHP ${{ matrix.php }}-${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ${{ fromJson(inputs.os) }}
        php: ${{ fromJson(inputs.php) }}

    steps:
      - name: Checkout.
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install PHP with extensions.
        uses: shivammathur/setup-php@v2
        with:
          coverage: ${{ inputs.coverage }}
          extensions: ${{ inputs.extensions }}
          ini-values: ${{ inputs.ini-values }}
          php-version: ${{ matrix.php }}
          tools: ${{ inputs.tools }}

      - name: Install Composer dependencies
        if: inputs.usePackageBin == true
        uses: ramsey/composer-install@v3

      - name: Install roave/backward-compatibility-check
        if: inputs.usePackageBin == false
        run: composer require --dev roave/backward-compatibility-check

      - if: ${{ inputs.subpackage != '' }}
        name: Install ${{ inputs.subpackage }}.
        uses: yiisoft/actions/install-subpackage@install-subpackage
        with:
          subpackage: ${{ inputs.subpackage }}
          composer-root-version: ${{ inputs.composer-root-version }}

      - name: Run roave/backward-compatibility-check.
        run: vendor/bin/roave-backward-compatibility-check
