name: codeception

on:
  workflow_call:
    inputs:
      codeception-command:
        description: Codeception command to run.
        default: vendor/bin/codecept run --coverage-xml
        required: false
        type: string
      coverage:
        description: Generate code coverage report.
        default: pcov
        required: false
        type: string
      composer-command:
        description: Composer command to run.
        default: composer update --prefer-dist --no-interaction --no-progress --optimize-autoloader --ansi
        required: false
        type: string
      debug:
        description: Debug mode.
        default: false
        required: false
        type: boolean
      extensions:
        description: List of PHP extensions to install.
        default:
        required: false
        type: string
      ini-values:
        description: Initial values for PHP configuration.
        default: date.timezone='UTC'
        required: false
        type: string
      os:
        description: OS to test, separated by comma.
        required: true
        type: string
      php:
        description: PHP versions to test, separated by comma.
        required: true
        type: string
      tools:
        description: Tools to install, separated by comma.
        default: composer:v2
        required: false
        type: string

jobs:
  codeception:
    name: PHP ${{ matrix.php }}-${{ matrix.os }}

    env:
      key: cache-v1
      YII_C3: true

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ${{ fromJson(inputs.os) }}
        php: ${{ fromJson(inputs.php) }}

    steps:
      - name: Checkout.
        uses: actions/checkout@v4

      - name: Install PHP with extensions.
        uses: shivammathur/setup-php@v2
        with:
          coverage: ${{ inputs.coverage }}
          extensions: ${{ inputs.extensions }}
          ini-values: ${{ inputs.ini-values }}
          php-version: ${{ matrix.php }}
          tools: ${{ inputs.tools }}

      - name: Determine composer cache directory on Linux.
        if: matrix.os == 'ubuntu-latest'
        run: echo "COMPOSER_CACHE_DIR=$(composer config cache-dir)" >> $GITHUB_ENV

      - name: Determine composer cache directory on Windows.
        if: matrix.os == 'windows-latest'
        run: echo "COMPOSER_CACHE_DIR=~\AppData\Local\Composer" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - name: Cache dependencies installed with composer.
        uses: actions/cache@v4
        with:
          path: ${{ env.COMPOSER_CACHE_DIR }}
          key: php${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}
          restore-keys: |
            php${{ matrix.php }}-composer-

      - name: Update composer.
        run: composer self-update

      - name: Install dependencies with composer.
        run: ${{ inputs.composer-command }}

      - name: Run tests with codeception with code coverage with shell bash.
        if: matrix.os == 'ubuntu-latest'
        continue-on-error:  ${{ inputs.debug }}
        run: ${{ inputs.codeception-command }}

      - name: Run tests with codeception with code coverage with shell powershell.
        if: matrix.os == 'windows-latest'
        continue-on-error:  ${{ inputs.debug }}
        run: ${{ inputs.codeception-command }}
        shell: powershell

      - name: Upload coverage to Codecov.
        if: matrix.os == 'ubuntu-latest' && matrix.php == '8.1' && inputs.debug == false
        uses: codecov/codecov-action@v4
        with:
          file: tests/_output/coverage.xml
          slug: ${{ github.repository }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Archive codeception results.
        if: ${{ inputs.debug }}
        uses: actions/upload-artifact@v4
        with:
          name: output
          path: ./runtime/tests/_output

      - name: Download all workflow run artifacts.
        if: ${{ inputs.debug }}
        uses: actions/download-artifact@v4
