name: infection

on:
  workflow_call:
    inputs:
      composer-root-version:
        description: Composer root version.
        default: dev-master
        required: false
        type: string
      required-packages:
        description: List of required packages to install, for example '["db", "db-sqlite"]'
        default: ''
        required: false
        type: string
      extensions:
        description: List of extensions to PHP
        default:
        required: false
        type: string
      ini-values:
        description: Initial values for PHP configuration
        default: date.timezone='UTC'
        required: false
        type: string
      os:
        description: OS to test, separated by comma
        default: '["ubuntu-latest"]'
        required: false
        type: string
      php:
        description: PHP versions to test, separated by comma
        default: '["8.4"]'
        required: false
        type: string
      infection-args:
        description: Infection command arguments
        default: --ignore-msi-with-no-mutations --only-covered
        required: false
        type: string

    secrets:
      STRYKER_DASHBOARD_API_KEY:
        required: true

jobs:
  infection:
    name: PHP ${{ matrix.php }}-${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ${{ fromJson(inputs.os) }}
        php: ${{ fromJson(inputs.php) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install PHP with extensions
        uses: shivammathur/setup-php@v2
        with:
          coverage: xdebug
          extensions: ${{ inputs.extensions }}
          ini-values: ${{ inputs.ini-values }}
          php-version: ${{ matrix.php }}

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3

      - if: ${{ inputs.required-packages != '' }}
        name: Install required packages.
        uses: yiisoft/actions/install-packages@master
        with:
          packages: ${{ inputs.required-packages }}
          composer-root-version: ${{ inputs.composer-root-version }}

      - name: Run infection
        run: |
          vendor/bin/infection ${{ inputs.infection-args }}
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
