name: roave-infection

on:
  workflow_call:
    inputs:
      composer-command:
        description: Composer command to run.
        default: composer update --prefer-dist --no-interaction --no-progress --optimize-autoloader --ansi
        required: false
        type: string
      composer-root-version:
        description: Composer root version.
        default: dev-master
        required: false
        type: string
      required-packages:
        description: List of required packages to install, for example '["db", "db-sqlite"]'
        default: ''
        required: false
        type: string
      bin-name:
        description: Binary name
        default: roave-infection-static-analysis-plugin
        required: false
        type: string
      extensions:
        description: List of extensions to PHP.
        default:
        required: false
        type: string
      ini-values:
        description: Initial values for PHP configuration.
        default: date.timezone='UTC'
        required: false
        type: string
      min-covered-msi:
        description: Minimum MSI to be considered a success.
        default: 0
        required: false
        type: string
      min-msi:
        description: Minimum Mutation Score Indicator.
        default: 0
        required: false
        type: string
      os:
        description: Os to test, separated by comma.
        default: '["ubuntu-latest"]'
        required: false
        type: string
      php:
        description: PHP versions to test, separated by comma.
        default: '["8.4"]'
        required: false
        type: string

    secrets:
      STRYKER_DASHBOARD_API_KEY:
        required: true

jobs:
  roave-infection:
    name: PHP ${{ matrix.php }}-${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ${{ fromJson(inputs.os) }}
        php: ${{ fromJson(inputs.php) }}

    steps:
      - name: Checkout.
        uses: actions/checkout@v4

      - name: Install PHP with extensions.
        uses: shivammathur/setup-php@v2
        with:
          coverage: pcov
          extensions: ${{ inputs.extensions }}
          ini-values: ${{ inputs.ini-values }}
          php-version: ${{ matrix.php }}

      - name: Determine composer cache directory on Linux.
        run: echo "COMPOSER_CACHE_DIR=$(composer config cache-dir)" >> $GITHUB_ENV

      - name: Cache dependencies installed with composer.
        uses: actions/cache@v4
        with:
          path: ${{ env.COMPOSER_CACHE_DIR }}
          key: php${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}
          restore-keys: |
            php${{ matrix.php }}-composer

      - name: Update composer.
        run: composer self-update

      - name: Install dependencies with composer.
        run: ${{ inputs.composer-command }}

      - if: ${{ inputs.required-packages != '' }}
        name: Install required packages.
        uses: yiisoft/actions/install-packages@master
        with:
          packages: ${{ inputs.required-packages }}
          composer-root-version: ${{ inputs.composer-root-version }}

      - name: Run roave infection.
        run: |
          vendor/bin/${{ inputs.bin-name }} --threads=2 --min-msi=${{ inputs.min-msi }} --min-covered-msi=${{ inputs.min-covered-msi }} --ignore-msi-with-no-mutations
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
